.hg
.hgignore
local.properties
.version
nbproject/private/*
build/*
dist/*
tmp/*
trace
*.class
*.orig
*~
*.DS_Store
*.iml
output/
.idea/*
logs/
out/
src/examples/VeritestingPerf.java
src/examples/VeritestingPerf.jpf
*.log
statistics*.txt
